img {
  border: 1px solid black;
}

#create-section-btn, #clear-all-btn {
  padding: 7px;
}

.section-wrapper {
  font-size: 20px;
  width: 100%;
  height: 70px;
  background-color: #f4c458;
  display: flex;
  border: 1px solid black;
}

.page-open-btn {
  width: 70%;
  text-align: center;
}

.btn-wrapper {
  width: 30%;
  text-align: center;
}