body {
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlM19hYnN0cmFjdF9nZW9tZXRyaWNfZmx1aWRfYmxhY2tfY29sb3JfZ3JhZGllbnRfYl9mNWYxMTRjMC01MTVlLTRkZTctYjAxMi05ZDFkODljYzEyODBfMS5qcGc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#toolbar {
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #69b1f0;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}

#header-wrapper {
  position: fixed;
  display: flex;
  top: 0px;
  right: 0;
  left: 0;
  background-color: #69b1f0;
  border-bottom: 2px solid black;
}

#header {
  padding: 7px;
  display: flex;
  width: 70%;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
}

#control-wrapper {
  padding: 7px;
  display: flex;
  width: 30%;
  justify-content: right;
  align-items: right;
  box-sizing: border-box;
}

#edit-infobox, #delete-page-btn, #enable-preset1, #enable-preset2 {
  border-radius: 4px;
}

#bold-text-btn, #italic-text-btn, #img-text-btn {
  padding: 2px 8px;
}

#intro-wrapper {
  margin-top: 37px;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #F1e7dd;
}

th, td {
  width: 50%;
  padding: 5px;
  text-align: left;
}

#title-input {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  outline: none;
}

.info-input, .value-input {
  width: 100%;
  padding: 0px;
  outline: none;
  font-size: 13px;
  background-color: transparent;
  border: 0px;
  box-sizing: border-box;
}

.info-title, .value-cell {
  white-space: pre-line;
  font-size: 15px;
}

.cell1 {
  width: 42%;
  padding: 5px;
  border-right: 0;
  box-sizing: border-box;
}

.cell2 {
  width: 58%;
  padding: 5px;
  border-left: 0;
  box-sizing: border-box;
}

.cell3 {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#info-list {
  vertical-align: top;
}

.control-room {
  width: 100%;
  padding: 7px;
  text-align: center;
  background-color: #F1e7dd;
  border: 1px solid black;
  box-sizing: border-box;
}

.character-profile {
  text-align: center;
}

.character-category {
  text-align: center;
  background-color: #f4c458;
}

h3 {
  margin: 1%;
}

p {
  margin: 1%;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
}

.character-name-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-cell {
  background-color: white;
  border: 1px solid black;
  width: 40%;
  padding: 5px;
}

.info-cell-value {
  background-color: white;
  border: 1px solid black;
  width: 60%;
  padding: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.description {
  width: 97%;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.section {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #f4c458;
}

#synopsis-text {
  white-space: pre-line;
}

#synopsis-text-input, #intro-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.character-img {
  width: 80%;
}

.character-bio {
  max-height: 60px;
  overflow: hidden;
}

img {
  border: 1px solid black;
}

.see-more-btn {
  cursor: pointer;
  color: blue;
  margin-top: 1px;
}
