body {
  background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlM19hYnN0cmFjdF9nZW9tZXRyaWNfZmx1aWRfYmxhY2tfY29sb3JfZ3JhZGllbnRfYl9mNWYxMTRjMC01MTVlLTRkZTctYjAxMi05ZDFkODljYzEyODBfMS5qcGc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #F1e7dd;
}

#mytable, #mytable th, #mytable td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #F1e7dd;
}

#mytable th, #mytable td {
  padding: 5px;
  text-align: left;
}

th, td {
  width: 50%;
  padding: 5px;
  text-align: left;
}

.info-input, .value-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

#info-list {
  vertical-align: top;
}

.character-profile {
  text-align: center;
}

.character-category {
  text-align: center;
  background-color: #f4c458;
}

h3 {
  margin: 1%;
}

p {
  margin: 1%;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.bio-input {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.character-name-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-cell {
  background-color: white;
  border: 1px solid black;
  width: 40%;
  padding: 5px;
}

.info-cell-value {
  background-color: white;
  border: 1px solid black;
  width: 60%;
  padding: 5px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-center1 > th {
  text-align: center;
}

.description {
  width: 97%;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  background-color: #f4c458;
}

.synopsis-text-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.character-img {
  width: 80%;
}

.character-bio {
  max-height: 60px;
  overflow: hidden;
}

.bio-input {
  width: 98%;
}

img {
  border: 1px solid black;
}

.see-more-btn {
  cursor: pointer;
  color: blue;
  margin-top: 1px;
}

